MONGO_DATABASE=blog-api
MONGO_SERVER=blog-api-mongo
MONGO_PORT=27017
MONGO_USER=blog-api
MONGO_PASSWORD=password

MONGO_INITDB_DATABASE=admin
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root

ME_CONFIG_MONGODB_SERVER=blog-api-mongo
ME_CONFIG_MONGODB_PORT=27017
ME_CONFIG_MONGODB_ENABLE_ADMIN=false
ME_CONFIG_MONGODB_AUTH_DATABASE=blog-api
ME_CONFIG_MONGODB_AUTH_USERNAME=blog-api
ME_CONFIG_MONGODB_AUTH_PASSWORD=password

API_SCHEME=http
API_HOST=0.0.0.0
API_PORT=3000

NODE_ENV=local
